html {height: 100%;}
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
}

.bespin {
    height: 100%;
    width: 50%;
    float: left;
}

#rightpane {
    width: 50%;
    height: 100%;
    float: left;
}

.selectedtab {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.tabpane {
    display: none;
    margin: 0.5em;
}

.selectedtabpane {
    display: block;
}

#scriptrunneroutput {
    border: 1px solid black;
    background-color: #CCFFCC;
    padding: 0.5em;
    min-height: 50%;
}

p {
  margin: 0.5em;
}

pre {
    margin: 0px;
}

a img {
  border: none;
}

.prompt, #output {
  width: 45em;
  border: 1px solid silver;
  background-color: #f5f5f5;
  font-size: 10pt;
  margin: 0.5em;
  padding: 0.5em;
  padding-right: 0em;
  overflow-x: hidden;
}

#toolbar {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

#caret {
  width: 2.5em;
  margin-right: 0px;
  padding-right: 0px;
  border-right: 0px;
}

#statement {
  width: 43em;
  margin-left: -1em;
  padding-left: 0px;
  border-left: 0px;
  background-position: top right;
  background-repeat: no-repeat;
}

.processing {
  background-image: url("/static/spinner.gif");
}

#ajax-status {
  font-weight: bold;
}

.message {
  color: #8AD;
  font-weight: bold;
  font-style: italic;
}

.error {
  color: #F44;
}

.username {
  font-weight: bold;
}
