<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="4kjUUvDd7Fzel-ZmpFRkzuqlZjE2pO5mERoaD7yPdVg" />
<title>Run Python on the Web: PEREWE</title>
<link id="bespin_base" href="static/bespin"/>
<link rel="stylesheet" type="text/css" href="static/main.css" />
<script type="text/javascript" src="static/bespin/BespinEmbedded.js"></script>
<script type="text/javascript" src="/static/shell.js"></script>
<script type="text/javascript" src="/static/scriptrunner.js"></script>
<script type="text/javascript"><!--
function switchtotab(tabname) {
    var tabpanes = document.getElementsByClassName("tabpane");
    var tabs = document.getElementsByClassName("tab");
    for (var i=0; i<tabpanes.length; i++){
        if (tabpanes[i].id == tabname) {
            tabpanes[i].className = "tabpane selectedtabpane";
        } else {
            tabpanes[i].className = "tabpane";
        }
    }
    for (i=0; i<tabs.length; i++) {
        if (tabs[i].id == tabname + "-tab") {
            tabs[i].className = "tab selectedtab";
        } else {
            tabs[i].className = "tab";
        }
    }
    return false;
}
--></script>
</head>

<body>

<div class="bespin" id="editor" data-bespinoptions='{"syntax": "py" }'>print "Hello, world"</div>

<div id="rightpane">
<div id="tabbar" style="float:right; margin:1em;">
<a onclick="switchtotab('interactiveshell')" href="#" id="interactiveshell-tab" class="tab">Shell</a> ~ 
<a onclick="switchtotab('scriptrunneroutput')" href="#" id="scriptrunneroutput-tab" class="tab">Output</a> ~ 
<a onclick="switchtotab('welcomemessage')" href="#" id="welcomemessage-tab" class="tab selectedtab">About</a>
<!--<span id="scriptrunlink">
    <a onclick="scriptrunner.sendscript()" href="#">[Run script &gt;]</a>
</span>-->
</div> <!-- tabbar -->
<button type="button" id="scriptrunbutton" onclick="scriptrunner.sendscript()" style="margin:1em;">Run script</button>

<div id="interactiveshell" class="tabpane">
<textarea id="output" rows="22" cols = "74" readonly="readonly">
{{ server_software }}
Python {{ python_version }}
</textarea>

<form id="form" action="shell.do" method="get">
<div>
  <nobr>
  <textarea class="prompt" id="caret" readonly="readonly" rows="4" cols="4"
            onfocus="document.getElementById('statement').focus()"
            >&gt;&gt;&gt;</textarea>
  <textarea class="prompt" name="statement" id="statement" rows="4" cols="70"
            onkeypress="return shell.onPromptKeyPress(event);"></textarea>
  </nobr>
  <input type="hidden" name="session" value="{{ session }}" />
  <input type="submit" style="display: none" />
</div>
</form>

<p id="ajax-status"></p>

<p id="toolbar">
<!--{% if user %}
  <span class="username">{{ user.nickname }}</span>
  (<a href="{{ logout_url }}">log out</a>)
{% else %}
  <a href="{{ login_url }}">log in</a>
{% endif %}
 | -->
Ctrl-Up for history | Shift-Enter for newline
 | <a href="http://code.google.com/appengine/">
      <img src="/static/appengine_button_noborder.gif"
           style="vertical-align: middle" alt="Powered by Google Appengine"/></a>
</p>
</div> <!-- interactiveshell -->

<div id="scriptrunneroutput" class="tabpane"></div>

<div id="welcomemessage" class="tabpane selectedtabpane" style="padding: 1em;">
<h2>Welcome!</h2>
<p>Write a Python script in the editor to the left, then click "Run script"
above, and the output will appear in this space. If you're new to Python, you might
want to look at <a href="http://docs.python.org/tutorial/introduction.html"> the official
tutorial</a>, or the book <a href="http://diveintopython.org/">Dive into Python</a>.</p>

<p>There are some restrictions, e.g. scripts must complete within 30 seconds.</p>

<p>For an interactive Python command prompt, click "Shell" above.</p>

<p>PEREWE (Python Editing and Remote Execution Web Environment) is based on
<a href="http://mozillalabs.com/skywriter/">Mozilla Skywriter</a> and 
<a href="http://shell.appspot.com/">shell.appspot.com</a>, and runs on
<a href="http://code.google.com/appengine/">Google App Engine</a>. Source code
may be found <a href="http://bitbucket.org/takowl/perewe">on Bitbucket</a>.</p>
</div> <!-- welcomemessage -->

</div> <!-- rightpane -->

<script type="text/javascript">
document.getElementById('statement').focus();
</script>

</body>
</html>
